body {
	margin: 0;
	font-family: "Helvetica Neue", "Segoe WP", Helvetica, sans-serif;
	background: black;
	color: white;
}

#modifier {
	height: 90px;
	margin: 10px;
}

#stats {
	position: absolute;
	bottom: 0;
	left: 0;
}